# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django migrations
**/migrations/
**/migrations/*.py
**/migrations/*.pyc

# Django cache and logs
*.log
*.pot
*.pyc
*.mo
*.db
*.sqlite3

# Environment variables
.env
.env.*

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
.cache

# Pip
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
env/
ENV/
.venv/

# Static files (collected)
staticfiles/


# Media files
media/

# Build files
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/

# Installer logs
pip-log.txt

# Unit test / coverage reports
htmlcov/
.coverage
coverage.xml
*.cover
.hypothesis/

# Pyre type checker
.pyre/
